<form action="" method="POST">
    <input type="text" name="username" placeholder="username" value="admin"><br>
    <input type="text" name="password" placeholder="password" value="123456"><br>
    <button type="submit">OK</button>
</form>